

#a{
    color:white;
    font-size: 400%;
    text-align: center;
    margin-left: 15px;
    
}

#b{
    color:red;
    font-size: 300%;
    font-style: italic;
}
.Centre{
    
    text-align:left;
    margin-right: 200px;
    margin-left:300px;
  
}

.Bold{
    
    color:wheat;
    font-size:200%;
    font-style: bold;
    text-decoration: underline;
     
    

}
.Size{
    color: seashell;
    font-size:150%
  
    
}
#c{
    color:blue;
    font-size:200%;
    font-style: bold;
    margin-left: 1100px ; 
}
body{
    background-image: url("https://cdn.wallpapersafari.com/43/19/MdkGgb.jpg");
}